.address {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.address__inner {
  position: relative;
}

.address__item {
  margin-bottom: 38px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.address__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: normal;
  color: $color-bombay;
  margin: 0 0 21px 0;

  &--first {
    margin: 0 0 41px 0;
  }
}

.address__data {
  font-size: 18px;
  line-height: 25px;
  color: $color-river-bed;
}
