.address {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.address__inner {
  position: relative;
}

.address__item {
  margin-bottom: sz(45px);
  position: relative;
}

.address__title {
  font-size: sz(14px);
  line-height: sz(20px);
  letter-spacing: 0.08em;
  color: $color-bombay;
  margin: 0 0 sz(40px) 0;
}

.address__phone-link {
  display: inline-block;
  font-size: sz(20px);
  line-height: sz(25px);
  margin-bottom: sz(10px);
}

.address__data {
  font-size: sz(18px);
  line-height: sz(25px);
  color: $color-river-bed;
}
