.assortment-card {
  @include mobile {
    width: 100%;
  }
}

.assortment-card__image {
  margin-bottom: 10px;

  @include mobile {
    width: 100%;
  }
}

.assortment-card__title {
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 10px 0;
}

.assortment-card__price {
  font-family: $ff-intro;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}
