.button {
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;

  &--main {
    font-family: $ff-intro;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border-radius: 4px;
    padding: 22px 48px;
  }

  &--wide {
    width: 100%;
  }

  &--primary {
    color: $color-default-white;
    background-color: $color-carnation;

    @include hover {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          background-color: $color-mojo;
        }
      }
    }

    @include focus {
      &.focus-visible:focus {
        background-color: $color-mojo;
        outline: none;
      }
    }
  }

  &--secondary {
    background-color: $color-river-bed;
    color: $color-default-white;

    @include hover {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          background-color: $color-tuna;
        }
      }
    }

    @include focus {
      &.focus-visible:focus {
        border: none;
        background-color: $color-tuna;
      }
    }

    @include active {
      &.focus-visible:active {
        background-color: $color-carnation;
      }
    }

    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          background-color: $color-tuna;
        }
      }
    }
  }

  &--form {
    padding: 24px 40px 22px;
    border-radius: sz(4px);
    outline: 1px solid $color-river-bed;
    color: $color-river-bed;
    background-color: transparent;
    font-weight: 600;

    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          background-color: $color-tuna;
          color: $color-default-white;
        }
      }
    }

    @include focus {
      &.focus-visible:focus {
        background-color: $color-river-bed;
        color: $color-default-white;
      }
    }

    @include active {
      &.focus-visible:active {
        background-color: $color-carnation;
      }
    }
  }

  &--summary {
    &::marker {
      content: none;
    }

    position: relative;
    font-family: $ff-intro;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: $color-mine-shaft;
    padding: 30px 0 21px;

    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          color: $color-carnation;
        }
      }
    }

    @include focus {
      &.focus-visible:focus {
        outline: none;
        color: $color-carnation;
      }
    }
  }

  &--tooltip {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background:
      url("../img/svg/question.svg") 50% 50% / 50% no-repeat,
      linear-gradient($color-default-white);
    box-shadow: 0 0 sz(10px) $color-shadow;
    cursor: pointer;

    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          &::before {
            content: "";
            position: absolute;
            top: -40%;
            left: 0;
            border: 9px solid transparent;
            border-top: 9px solid $color-default-white;
            pointer-events: none;
          }

        }
      }
    }
  }

  &--phone {
    display: inline-block;
    font-family: $ff-intro;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 10px;

    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          color: $color-carnation;
        }
      }
    }

    @include focus {
      &.focus-visible:focus {
        outline: none;
        color: $color-carnation;
      }
    }

    @include active {
      &.focus-visible:active {
        color: $color-mojo;
      }
    }
  }

  &--socials {
    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          opacity: 0.6;
        }
      }
    }

    @include focus {
      &.focus-visible:focus {
        opacity: 0.6;
        outline: none;
      }
    }
  }

  &--instagram {
    width: 157px;
    height: 56px;
    background:
      url("../img/svg/instagram-title.svg") 50% 50% / 100% no-repeat,
  }
}
