.callback-form {
  background-color: $color-east-bay;
  padding: sz(38px) sz(17px);
  border-radius: sz(4px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 32.2%;

  h2 {
    margin-bottom: sz(20px);
    margin-bottom: 20px;
  }

  p {
    line-height: sz(16px);
    line-height: 16px;
    color: $color-default-white;
    width: 67%;
    text-align: center;
    margin: 0 0 sz(40px) 0;
    margin: 0 0 40px 0;
  }

  fieldset {
    margin-bottom: sz(7px);
    margin-bottom: 7px;
    padding: 0;
    border: none;
  }

  input {
    margin-bottom: sz(9px);
    margin-bottom: 9px;
    padding: sz(19px);
    border-radius: sz(4px);
    border: none;
    width: 100%;
    line-height: sz(22px);
    line-height: 22px;

    &:last-of-type {
      margin: 0;
    }

    &::placeholder {
      color: $color-bombay;
    }
  }

  button {
    padding: sz(22px);
    border-radius: sz(4px);
    border: none;
    width: 98%;
    background-color: $color-carnation;
    color: $color-default-white;
    font-family: $ff-intro;
    line-height: sz(16px);
    line-height: 16px;
    cursor: pointer;

    @include hover {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          box-shadow: 0 0 sz(10px) $color-carnation;
        }
      }
    }

    @include focus {
      &.focus-visible:focus {
        border: none;
        outline: none;
        box-shadow: inset 0 0 sz(30px) $color-default-white;
      }
    }

    @include active {
      &.focus-visible:active {
        box-shadow: inset 0 0 sz(10px) $color-porcelain;
      }
    }
  }
}
