.cart {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__desc {
  @include tablet {
    display: none;
  }
}

.cart__field {
  margin-left: 10px;
  width: 20px;
  height: 19px;
}

.cart__contents {
  position: absolute;
  right: -10%;
  bottom: -25%;
  width: 16px;
  height: 17px;
  border-radius: 50%;
  background-color: $color-carnation;
  text-align: center;
  font-family: $ff-default;
  font-size: 14px;
  line-height: 17px;
}
