.catalog {
  padding: 59px 0;
}

.catalog__content {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: sz(20px);

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.catalog__filter-wrapper {
  padding: 20px;

  @include mobile {
    margin-bottom: 40px;
    padding: sz-m(40px);
    width: 100%;
  }
}

.catalog__assortment-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include mobile {
    width: 100%;
  }
}

.catalog__assortment {
  margin: 0 0 40px 0;

  @include mobile {
    width: 100%;
  }
  
}

.catalog__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__button {
  color: $color-default-white;
  background-color: $color-carnation;
  border-radius: sz(4px);
  margin: 2px 0 0 -20px;
  padding: 22px 48px;
}
