.catalog {
  padding: sz(59px) 0;
}

.catalog__content {
  display: grid;
  grid-template-columns: sz(280px) 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: sz(20px);
}

.catalog__filter-wrapper {
  padding: sz(20px);
}

.catalog__assortment-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.catalog__assortment {
  margin: 0 0 sz(40px) 0;
}

.catalog__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__button {
  color: $color-default-white;
  background-color: $color-carnation;
  border-radius: sz(4px);
  width: sz(200px);
  margin: sz(2px) 0 0 sz(-20px);
  padding: sz(22px);
}
