.contacts {
  background-color: $color-porcelain;
  padding: sz(57px) 0 sz(85px);
}

.contacts__inner {
  display: grid;
  grid-template-columns: 1fr sz(680px);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "title map"
    "address map"
    "socials map";
}

.contacts__title {
  grid-area: title;
  margin-bottom: sz(60px);
}

.contacts__address {
  grid-area: address;
  margin-bottom: sz(20px);
}

.contacts__socials {
  grid-area: socials;
}

.contacts__map {
  grid-area: map;
}
