.contacts {
  background-color: $color-porcelain;
  padding: 57px 0 85px;
}

.contacts__inner {
  display: grid;
  grid-template-columns: 1fr sz(680px);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "title map"
    "address map"
    "socials map";

  @include tablet {
    grid-template-areas:
    "title title"
    "address map"
    "socials socials";
  }
}

.contacts__title {
  grid-area: title;
  margin-bottom: 60px;
}

.contacts__address {
  grid-area: address;
  margin-bottom: 20px;
}

.contacts__socials {
  grid-area: socials;
}

.contacts__map {
  grid-area: map;
}
