.instagram {
  padding: 0 sz(60px) 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    padding: 0 sz(60px);
    justify-content: center;
  }

  @include mobile {
    width: 100%;
    padding: 25px sz(60px);
    justify-content: center;
  }
}

.instagram-title {
  text-align: center;
  margin: -12px 10px 16px 0;

  @include mobile {
    margin: 0;
  }
}

.instagram__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: sz(157px) sz(331px) sz(157px);
  grid-template-rows: repeat(2, sz(161px));
  grid-column-gap: sz(18px);
  grid-row-gap: sz(13px);
  grid-auto-flow: row;

  @include tablet {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  @include mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.instagram__item {
  &:nth-child(5n-3) {
    grid-row: span 2;
  }
  @include mobile {
      width: 100%;
    }
}

.instagram__photo {
  height: 100%;
}

.instagram__image {
  display: block;
  border-radius: sz(4px);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
