.main-title {
  margin: -3px 50% 21px 1px;
  font-family: $ff-intro;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  color: $color-default-white;

  @include tablet {
    margin: 0 23% 21px 0;
  }
}
