.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: sz(1px) solid $color-default-white;

  &--footer {
    padding: 28px 0 20px;
    border-bottom: none;

    @include mobile {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.navigation__logo {
  font-family: $ff-intro;
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
  color: $color-default-white;

  &--footer {
    margin-bottom: 30px;
  }
}

.navigation__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0 8px 0 0;
  list-style-type: none;
  flex-wrap: wrap;

  &--mobile {
    @include mobile {
      transition: all 5s ease 0s;
      flex-direction: column;
      padding: 0;
    }
  }

  @include tablet {
    position: absolute;
    top: 0;
    right: 0;
    transition: all 5s ease 0s;
    flex-direction: column;
    padding: 0;

    @include mobile {
      position: static;
    }
  }
}

.navigation__item {
  &:not(:last-child) {
    margin-right: 41px;

    @include tablet {
      margin-right: sz(20px);
    }

    @include mobile {
      margin-right: 0;
    }
  }

  display: flex;
  justify-content: center;
  align-items: center;

  &--mobile {
    @include mobile {
      margin: 0 0 30px 0;
      width: 100%;

      &:last-child {
        margin: 0;
      }
    }
  }
}

.navigation__link {
  font-family: $ff-default;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $color-default-white;

  @include tablet {
    font-size: sz-t(12px);
  }

  @include hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        box-shadow: inset 0 0 sz(10px) $color-shadow;
      }
    }

    &.focus-visible:focus {
      box-shadow: 0 0 sz(10px) $color-shadow;
      border: none;
      outline: none;
    }
  }

  @include mobile {
    font-size: sz-m(14px);
    line-height: sz-m(14px);
    padding: 20px;
    width: 100%;
  }
}
