.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: sz(15px) 0;
  border-bottom: sz(1px) solid $color-default-white;

  &--footer {
    padding: sz(28px) 0 sz(20px);
    border-bottom: none;
  }
}

.navigation__logo {
  font-family: $ff-intro;
  font-weight: 700;
  font-size: sz(30px);
  line-height: sz(26px);
  color: $color-default-white;
}

.navigation__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0 sz(8px) 0 0;
  list-style-type: none;
}

.navigation__item {
  &:not(:last-child) {
    margin-right: sz(41px);
  }

  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__link {
  font-family: $ff-default;
  font-size: sz(14px);
  font-weight: 400;
  line-height: sz(14px);
  color: $color-default-white;
}
