// Шкала вне ползунков
.noUi-target {
  width: 100%;
  background-color: $color-bombay;
  border: none;
  height: 2px;
}

// Шкала внутри ползунков
.noUi-connect {
  background-color: $color-river-bed;
  border: none;
  z-index: 20;
}

// Ползунки
.noUi-handle {
  box-shadow: none;
  transform: translate(50%, -50%);
  width: 5px;
  height: 20px;
  border-radius: sz(3px);
  border: 1px solid $color-default-white;
  background-color: $color-river-bed;
  cursor: pointer;

  &::before,
  &::after {
    display: none;
  }
}

.noUi-horizontal .noUi-handle {
  width: 5px;
  height: 20px;
  top: 0;
  right: 0;
}

.noUi-touch-area {
  display: none;
}
