.perfect-pair {
  padding: 57px 0 59px;
}

.perfect-pair__inner {
  padding: 40px 100px;
  background-color: $color-seashell-peach;

  @include mobile {
    padding: sz-m(15px) sz-m(5px);

  }
}

.perfect-pair__title {
  margin-bottom: 20px;
}

.perfect-pair__text {
  margin: 0 0 15px 0;
  padding-bottom: 12px;
  border-bottom: sz(1px) solid $color-gray;
  line-height: 16px;
  color: $color-gray;

  &--final {
    font-size: 18px;
    line-height: 16px;
    color: $color-cameo;
  }
}

.perfect-pair__image {
  width: 100%;
}
