.promo {
  position: relative;
  background-color: $color-east-bay;
  padding: 165px 0 101px;
  background-image: url("../img/svg/back-text.svg");
  background-repeat: no-repeat;
  background-position: 54% 66%;
  background-size: sz(954px);
}

.promo__description {
  margin: 0 55% 40px 0;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
}
