.socials {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.socials__item {
  margin-right: sz(20px);

  &:last-child {
    margin-right: 0;
  }
}
