.socials {
  list-style-type: none;
  // margin: 0;
  padding: 40px 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.socials__item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  @include focus {
    &.focus-visible:focus {
      outline-color: #0e5a4c;
      border-radius: 100%;
    }
  }

  @include active {
    &.focus-visible:active {
      border: none;
      outline: none;
    }
  }

  svg {
    border-radius: 50%;

    @include hover {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          box-shadow: 0 0 sz(10px) #0e5a4c;
        }
      }
    }
  }
}
