.team {
  background:
    url("../img/svg/team.svg") 100% 0 / 28.2% no-repeat,
    linear-gradient($color-east-bay);
  padding: 60px 0 59px;
}

.team__title {
  margin-left: 4px;
  margin-top: -1px;
  display: inline-block;
}

.team__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: sz(20px);
  grid-row-gap: sz(40px);
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.team__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include mobile {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.team__image {
  margin-bottom: 19px;
  border-radius: sz(4px);
}

.team__member {
  font-family: $ff-intro;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $color-default-white;
  margin-bottom: 15px;
}

.team__member-position {
  color: $color-default-white;
}
