.tooltip {
  position: absolute;
  left: 28%;
  top: 0;
}

.tooltip__text {
  display: none;
  position: absolute;
  bottom: 140%;
  left: -90%;
  margin: 0;
  background-color: $color-default-white;
  box-shadow: 0 0 sz(10px) $color-shadow;
  width: 460px;
  padding: 10px 16px;
  border-radius: sz(4px);
  z-index: 100;
}

.button--tooltip:hover + .tooltip__text, 
.button--tooltip:focus + .tooltip__text {
  display: block;
}
