.container {
  min-width: 1180px;
  width: calc(1180 / 1920 * 100%);
  max-width: 1920px;
  margin: 0 auto;

  @include vp-1439 {
    // padding: 0 32px;
  }

  @include vp-1023 {
    // padding: 0 24px;
  }

  @include vp-767 {
    // padding: 0 16px;
  }

  @include tablet {
    min-width: auto;
    width: calc(700 / 768 * 100%);
}

  @include mobile {
    width: calc(280 / 320 * 100%);
  }
}
